<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a class="navbar__item" href="../index.html">
            <img class="navbar__icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__item">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>

    <nav class="services-navbar">
        <a class="services-navbar__item" href="../admin.html">Homepage</a>
        <a class="services-navbar__item" href="../admin/feedback-request.html">Feedback</a>
        <a class="services-navbar__item" href="../admin/analytics.html">Analytics</a>
    </nav>

    <main>
        <section class="section section--split">
            <div class="card-container card-container--center card-container--space">
                <div class="card card--small">a</div>
                <div class="card card--small">a</div>
                <div class="card card--small">a</div>
                <div class="card card--small">a</div>
                <div class="card card--small">a</div>
                <div class="card card--small">a</div>
            </div>
            <div class="section__half">
                <img class="img" src="../../static/images/chart.png" alt="Placeholder pie chart">
            </div>
        </section>
    </main>
</body>

</html>