<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a class="navbar__item" href="../index.html">
            <img class="navbar__icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__title">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>

    <nav class="services-navbar">
        <a class="services-navbar_item" href="../admin.html">Admin Homepage</a>
        <a class="services-navbar_item" href="../admin/feedback-request.html">Request User Feedback</a>
        <a class="services-navbar_item" href="../admin/metadata.html">View Analytics</a>
    </nav>

    <main class="card card--center card--large">
        <p class="card__title">Feedback Request From</p>
        <form class="card__form">
            <input class="card__input--text" type="text" name="feedback-message" id="feedback-message"
                placeholder="Message">
            <select class="card__input--select" name="select-user" id="select-user">
                <option value="" disabled selected>Select a user</option>
                <option>Murphy Clay</option>
                <option>Olivia Jackson</option>
                <option>Case Park</option>
                <option>Joyce Moody</option>
                <option>Riley Hester</option>
                <option>Chandler Boyer</option>
            </select>
            <a class="button button--center button--medium button--blue" type="submit">Send</a>
        </form>
    </main>
</body>


</html>