<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a class="navbar__item" href="../index.html">
            <img class="navbar__icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__item">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>

    <nav class="services-navbar">
        <a class="services-navbar__item" href="../admin.html">Homepage</a>
        <a class="services-navbar__item" href="../admin/feedback-request.html">Feedback</a>
        <a class="services-navbar__item" href="../admin/analytics.html">Analytics</a>
    </nav>

    <main>
        <section class="card-container card-container--center card-container--space--extra">


            <div class="card card--large">
                <h2 class="card__content--tile">Feedback Request</h2>
                <form class="card__form">
                    <input class="card__content--input--text" type="text" id="name" placeholder="Message" required>
                    <select class="card__content--input--select" name="select-user" id="select-user">
                        <option value="" disabled selected>Select a user</option>
                        <option>Murphy Clay</option>
                        <option>Olivia Jackson</option>
                        <option>Case Park</option>
                        <option>Joyce Moody</option>
                        <option>Riley Hester</option>
                        <option>Chandler Boyer</option>
                    </select>
                    <button class="button button--medium button--center button--blue" type="submit">Submit
                        Request</button>
                </form>
            </div>
        </section>
    </main>
</body>


</html>