<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <a class="nav-item" href="../index.html">
            <img id="icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
        <a id="logout-button" class="nav-item" href="../index.html">Logout</a>
    </nav>

    <section class="services-navbar" id="services-bar">
        <a href="../admin.html">Admin Homepage</a>
        <a href="../admin/feedback-request.html">Request User Feedback</a>
        <a href="../admin/metadata.html">View Analytics</a>
    </section>

    <main id="analytics-page">
        <section class="analytics-container" id="analytics-left">
            <article class="analytics-item">
                Active Users
                <p class="analytic-data">2</p>
            </article>
            <article class="analytics-item">
                Active Specialists
                <p class="analytic-data">2</p>
            </article>
            <article class="analytics-item">
                Open Specialist Requests
                <p class="analytic-data">6</p>
            </article>
            <article class="analytics-item">
                Closed Specialist Requests
                <p class="analytic-data">13</p>
            </article>
            <article class="analytics-item">
                API Requests Today
                <p class="analytic-data">113</p>
            </article>
            <article class="analytics-item">
                Number of Logins Today
                <p class="analytic-data">17</p>
            </article>
        </section>
        <section class="analytics-container" id="analytics-right">
            <img src="../../static/images/chart.png" alt="Placeholder pie chart">
        </section>
    </main>

</body>

</html>