* {
    /* outline: solid black 1px; */
}

/* Cards Container*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-container--center {
    justify-content: center;
}

.card-container--space {
    margin: 10px;
}

.card-container--space--extra {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

/* Cards */
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card--large {
    padding: 15px;
    width: 1000px;
    height: auto;
}

.card--medium {
    padding: 15px;
    width: 500px;
    height: auto;
}

.card--small {
    padding: 10px;
    width: 300px;
    height: 200px;
}

/* Card Content */
.card__content--background--green {
    color: black;
    background-color: rgb(0, 255, 0);
}

.card__content--background--red {
    background-color: red;
}

.card__content--tile {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.card__content--text {
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    font-size: 1.25em;
    border-radius: 5px;
}

.card__content--form {
    width: 100%;
}

.card__content--input--text {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
}

.card__content--input--checkbox {
    display: inline;
}

.card__content--input--select {
    display: block;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}