.main-body {
    position: fixed;
    justify-content: center;
    top: 10%;
    left: 50%;
    right: 150%;
    text-align: right justify;
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.search {
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
    height: 100px;
    border: 3px solid green;
    position: relative;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, 310%);
}

#search-button {
    justify-content: center;
    color: white;
    background-color: green;
    border: 0;
    width: 50%;
    text-align: center;
}

.searching {
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
    position: absolute;
    top: 12%;
    left: 55%;

    -ms-transform: translate(50%, -50%);
    transform: translate(-1%, 1000%);
}

#search {
    justify-content: center;
    background-color: white;
    color: black;
    border: 0;
    width: 20%;
}