.main-body {
    position: fixed;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
    height: 100px;
    border: 3px solid green;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 200%);
}

#search-button {
    justify-content: center;
    color: white;
    background-color: green;
    border: 10;
    border-color: black;
    width: 70%;
    text-align: center;
}

#search-bar {
    justify-content: center;
    color: black;
    background-color: rgb(41, 86, 223);
    border: 10;
    border-color: black;
    width: 70%;
    text-align: center;
}

#search {
    justify-content: center;
    background-color: white;
    color: black;
    border: 0;
    width: 20%;
}

.nutrition-facts-label {
    max-width: 30%;
    max-height: 30%;
}