body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#specialist-container {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*style for the sidebar*/
.Spec-services-navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(63, 206, 63);
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1000;
}

#Spec-services-wrapper {
    z-index: 10;
    position: fixed;
    height: 90%;
    transform: translateY(9%);
}

.Spec-services-navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(63, 206, 63);
    color: white;
    display: block;
}

.Spec-services-navbar a:hover {
    background-color: green;
    color: white;
}

/* Search button for database */

.big-search-button {
    background-color: green;
    color: white;
    font-size: xx-large;
}

#user-container h2 {
    margin-bottom: 20px;
}

#specialist-info {
    margin-bottom: 20px;
}

#specialist-info p {
    margin: 10px 0;
}

#logout-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #0056b3;
}