body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#specialist-container {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Search button for database */

.big-search-button {
    background-color: green;
    color: white;
    font: xx-large;
}

#user-container h2 {
    margin-bottom: 20px;
}

#specialist-info {
    margin-bottom: 20px;
}

#specialist-info p {
    margin: 10px 0;
}

#logout-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #0056b3;
}

