<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist Page - NutriLog</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/specialist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>

    <nav id="navbar">
        <a class="nav-item" href="../index.html">
            <img id="icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
     
        <a id="logout-button" class="nav-item" href="../index.html">Logout</a>
    </nav>
   
    <section class="services-navbar" id="services-bar">
        <a href="../../templates/specialist.html">Specialist Homepage</a>
        <a href="../specialist/create-nutrition-plan.html">Create User Nutrition Plans</a>
        <a href="restrict-user-settings.html">Restrict User Settings</a>
        <a href="saved-foods.html">Saved Foods</a>
        <a href="saved-recipes.html">Saved Recipes</a>
    </section>

    <main id="main-body">

        <h1> Create Nutrition Plans for Users</h1>

        <p>Click here to open a nutrition plan form: 
            <a href="../../static/images/NutriLog Nutrition Plan Form.docx.pdf"><b>Nutrition Plan Form</b></a>.</p> 
            <br>
        
        
        <p>
            Download and fill out the form for the desired user. Once finished, Select the user you want to give the form to. <br>
            Click "Upload form" to upload your completed form.
        </p>

        <br>
        
        
        <form>
            <label>Choose a user:</label>
            <select>
                <option value="johndoe"> John Doe</option>
                <option value="janedoe">Jane Doe</option>
                <option value="harrysmith">Harry Smith</option>
                <option value="helensmith">Helen Smith</option>
            </select>
            <br><br>
            <a class="big-search-button" href="../../templates/specialist/upload-form-placeholder.html">Upload form</a>
            <a class="big-search-button" href="../../templates/specialist/submit-form-placeholder.html">Submit</a>
        </form>
</body>

</html>