<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist Page - NutriLog</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/specialist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>

    <nav id="navbar">
        <a class="nav-item" href="../index.html">
            <img id="icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
        <a id="logout-button" class="nav-item" href="../index.html">Logout</a>
    </nav>
   
    <section class="services-navbar" id="services-bar">
        <a href="../specialist.html">Specialist Homepage</a>
        <a href="create-nutrition-plan.html">Create User Nutrition Plans</a>
        <a href="restrict-user-settings.html">Restrict User Settings</a>
        <a href="saved-foods.html">Saved Foods</a>
        <a href="saved-recipes.html">Saved Recipes</a>
    </section>

    <main id="main-body">

        <h1> Saved Recipes List</h1>

        <li>Chocolate Chip Cookies</li>
        <li>Homemade Burger Buns</li>
        <li>Strawberry Milkshake</li>
            

    </main>
</body>

</html>