<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist Page - NutriLog</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/specialist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar">
        <a class="navbar__item" href="../index.html">
            <img class="navbar__icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__item">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>

    <nav class="services-navbar" id="services-bar">
        <a class="services-navbar__item" href="../nutritionist.html">Homepage</a>
        <a class="services-navbar__item" href="../nutritionist/clients.html">Clients</a>
        <a class="services-navbar__item" href="../nutritionist/nutritionist-food-save.html">Your Foods</a>
        <a class="services-navbar__item" href="../nutritionist/nutritionist-settings.html">Settings</a>
    </nav>

    <section class="services-navbar" id="services-bar">
        <a href="../specialist.html">Specialist Homepage</a>
        <a href="create-nutrition-plan.html">Create User Nutrition Plans</a>
        <a href="restrict-user-settings.html">Restrict User Settings</a>
        <a href="saved-foods.html">Saved Foods</a>
        <a href="saved-recipes.html">Saved Recipes</a>
    </section>

    <main>

        <h1> Restrict User Settings</h1>

        <section>
            <table id="user-table">
                <tr>
                    <th>User Name</th>
                    <th>User ID</th>
                    <th>User Age Group</th>
                    <th>User Restriction</th>
                </tr>
                <tr>
                    <td>Murphy Clay</td>
                    <td>U1077222278</td>
                    <td>
                        <select name="user-age-group">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-restriction">
                            <option value="processed">Can see processed foods</option>
                            <option value="unprocessed">Cannot see processed foods</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Olivia Jackson</td>
                    <td>U6282325538</td>
                    <td>
                        <select name="user-age-group">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-restriction">
                            <option value="processed">Can see processed foods</option>
                            <option value="unprocessed">Cannot see processed foods</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Case Park</td>
                    <td>U4820744598</td>
                    <td>
                        <select name="user-age-group">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-restriction">
                            <option value="processed">Can see processed foods</option>
                            <option value="unprocessed">Cannot see processed foods</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>U7586221780</td>
                    <td>
                        <select name="user-age-group">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-restriction">
                            <option value="processed">Can see processed foods</option>
                            <option value="unprocessed">Cannot see processed foods</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>U1497823505</td>
                    <td>
                        <select name="user-age-group">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-restriction">
                            <option value="processed">Can see processed foods</option>
                            <option value="unprocessed">Cannot see processed foods</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>James Hetfield</td>
                    <td>U19602023725</td>
                    <td>
                        <select name="user-age-group">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-restriction">
                            <option value="processed">Can see processed foods</option>
                            <option value="unprocessed">Cannot see processed foods</option>
                        </select>
                    </td>
                </tr>
            </table>
        </section>



    </main>
</body>

</html>