<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - NutriLog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <nav class="services-navbar">
        <a class="services-navbar__item" href="./admin.html">Homepage</a>
        <a class="services-navbar__item" href="./admin/feedback-request.html">Feedback</a>
        <a class="services-navbar__item" href="./admin/analytics.html">Analytics</a>
    </nav>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img class="navbar__icon" src="/images/icon.png" width="30" height="30" alt="logo">
                <span class="navbar__item">NutriLog</span>
            </a>
            <a class="nav-link" href="login.html">Login</a>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid justify-content-evenly">
            <a class="nav-link text-light" href="./admin.html">Homepage</a>
            <a class="nav-link text-light" href="./admin/feedback-request.html">Feedback</a>
            <a class="nav-link text-light" href="./admin/analytics.html">Analytics</a>
        </div>
    </nav>

    <main>
        <section class="welcome-box">
            <h1 class="welcome-box__title">Welcome to Your NutriLog Admin Page</h1>
            <p class="welcome-box__text"><strong>Name:</strong> Admin User</p>
            <p class="welcome-box__text"><strong>Email:</strong> admin@example.com</p>
        </section>

        <section class="section section--center">
            <table>
                <tr>
                    <th>User Name</th>
                    <th>User Type</th>
                    <th>User Status</th>
                    <th>Delete User</th>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>U1077222278</td>
                    <td>User</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>U1077222278</td>
                    <td>User</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>U1077222278</td>
                    <td>User</td>
                    <td>Delete</td>
                </tr>
            </table>
            <a class="button button--center button--medium button--blue">
                New User
            </a>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>