<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - NutriLog</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <a class="nav-item" href="./index.html">
            <img id="icon" src="../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
        <a id="logout-button" class="nav-item" href="./index.html">Logout</a>
    </nav>

    <!-- <header class="services-navbar">
        <a class="services-navbar-item" href="placeholder">Add User</a>
        <a class="services-navbar-item" href="placeholder">Delete User</a>
        <a class="services-navbar-item" href="placeholder">Request Feedback</a>
        <a class="services-navbar-item" href="placeholder">View Metadata</a>
    </header> -->

    <main>
        <section class="services-container">
            <h1>Welcome to Your NutriLog Admin Page</h1>
            <p class="services-info"><strong>Name:</strong> Admin User</p>
            <p class="services-info"><strong>Email:</strong> admin@example.com</p>

            <div id="services-options-container">
                <a class="services-options" href="./admin/feedback-request.html">Request User Feedback</a>
                <a class="services-options" href="./admin/metadata.html">View Metadata</a>
            </div>
        </section>

        <section>
            <table id="user-table">
                <tr>
                    <th>User Name</th>
                    <th>User ID</th>
                    <th>User Type</th>
                    <th>User Status</th>
                </tr>
                <tr>
                    <td>Murphy Clay</td>
                    <td>U1077222278</td>
                    <td>
                        <select name="user-type" id="user-type">
                            <option value="user">User</option>
                            <option value="specialist">Specialist</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-status" id="user-status">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Olivia Jackson</td>
                    <td>S9188212277</td>
                    <td>
                        <select name="user-type" id="user-type">
                            <option value="specialist">Specialist</option>
                            <option value="user">User</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-status" id="user-status">
                            <option value="inactive">Inactive</option>
                            <option value="active">Active</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Case Park</td>
                    <td>U9188212277</td>
                    <td>
                        <select name="user-type" id="user-type">
                            <option value="specialist">Specialist</option>
                            <option value="user">User</option>
                        </select>
                    </td>
                    <td>
                        <select name="user-status" id="user-status">
                            <option value="inactive">Inactive</option>
                            <option value="active">Active</option>
                        </select>
                    </td>
                </tr>
            </table>
        </section>
    </main>
</body>

</html>