<!DOCTYPE html>
<html lang="en">
<!--To add changes: 1) git add . 2) git commit -m "Comment" 3) git push-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriLog</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body class="page">
    <nav class="navbar">
        <a class="navbar__item" href="./index.html">
            <img class="navbar__icon" src="../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__title">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>

    <main>
        <section class="section section--center section--split">
            <div class="section__half">
                <h1 class="section__content section__content--center section__title">Experience Smart Nutrition
                </h1>
                <p class="section__content section__content--left section__text--narrow">
                    Track your food and build healthier habits with the all-in-one smart food
                    tracking app.
                </p>
                <a class="button button--center button--medium button--blue" href="signup.html">Start Today</a>
            </div>
            <img class="section__half section__img" src="../static/images/greens-homepage.jpg" alt="">
        </section>


        <section class="section">
            <h2 class="section__title section__content--center">About NutriLog: Smart Nutrition</h2>
            <p class="section__content section__content--left section__text">
                Nutrilog is a food tracker with an emphasis on nutritional education and safety. With NutriLog, you
                can see the nutritional values of the foods you consume, giving you an enhanced awareness of your
                overall nutritional status.
                With NutriLog, you can customize your settings to flag ingredients you may be allergic to, such as
                eggs, peanuts, and shellfish.
                We also have nutrition specialists who can create customized nutrition plans to aid you on your path
                to optimal nutrition.
            </p>
        </section>

        <div>
            <a class="section__content--left" href="./admin.html">Admin</a>
            <a class="section__content--left" href="./user.html">User</a>
            <a class="section__content--left" href="./specialist.html">Specialist</a>
        </div>
    </main>
</body>

</html>