<!DOCTYPE html>
<html lang="en">
<!--To add changes: 1) git add . 2) git commit -m "Comment" 3) git push-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriLog</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <a class="nav-item" href="./index.html">
            <img id="icon" src="../static/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
        <a id="login-button" class="nav-item" href="login.html">Login</a>
    </nav>
</body>

</html>