<!DOCTYPE html>
<html lang="en">
<!--To add changes: 1) git add . 2) git commit -m "Comment" 3) git push-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriLog</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <a class="nav-item" href="./index.html">
            <img id="icon" src="../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
        <!-- TODO: Combine with button styles -->
        <a id="login-button" class="nav-item" href="login.html">Login</a>
    </nav>

    <main>
        <article class="article-container">
            <div>
                <h1>Experience Smart Nutrition</h1>
                <p class="article-item">Track your food and build healthier habits with the all-in-one smart food
                    tracking app.</p>
                <a id="sign-up-button" class="button" href="signup.html">Start Today</a>
            </div>
            <figure class="article-item">
                <img src="../static/images/greens-homepage.jpg" alt="">
            </figure>
        </article>


        <article class="article-container">
            <div>
                <h2>About NutriLog: Smart Nutrition</h2>
                <p>
                    Nutrilog: Smart Nutrition is the lastest food tracker and logger that will inform you about
                    the nutritional values of the foods that you consume, leading to overall better health outcomes.
                    In addition, Nutrilog can provide information about the ingredients that are in foods that
                    are common allergens such as eggs, peanuts, shellfish, etc. so that users with allergies know what
                    foods to avoid. But it doesn't just provide allergen information, it also recommends allergen free
                    alternatives! We also have Nutrition Specialists that can assist users with finding healthy foods
                    and make custom nutrition plans made specifically for individual users.
                </p>
            </div>
        </article>

        <!-- NOTICE: This is really bad practice, this is only temporary -->
        <div style="margin-top: 25px;">
            <a href="./admin.html">Admin</a>
            <a href="./user.html">User</a>
            <a href="./specialist.html">Specialist</a>
        </div>
    </main>
</body>

</html>