<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a class="navbar__item" href="./index.html">
            <img class="navbar__icon" src="./images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__item">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>
</body>
<h1>Food Information</h1>
<h2>Ingredients</h2>
<p th:text="${ingredients}">Default Text</p>
<h2>Protein</h2>
<p th:text="${protein}">Default Text</p>
<h2>Fat</h2>
<p th:text="${fat}">Default Text</p>
<h2>Carbs</h2>
<p th:text="${carb}">Default Text</p>


</html>