<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page - NutriLog</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/specialist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    
</head>

<body>
    <nav id="navbar">
        <a class="nav-item" href="./index.html">
            <img id="icon" src="../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
    </nav>

    <section class="services-navbar" id="services-bar">
        <a href="./user/Request-specialist-assistance.html">Request Specialist Assistance</a>
        <a href="./user/Manage-personal-settings.html">Manage Personal Settings</a>
        <a href="placeholder">Saved Foods</a>
        <a href="placeholder">Saved Recipes</a>
    </section>



    <main id="user-container">
        <h2>Welcome to Your NutriLog User Page</h2>
        <section id="user-info">
            <p><strong>Name:</strong> John Doe</p>
            <p><strong>Email:</strong> john@example.com</p>
            <!-- You can add more user information here -->
        </section>
        <a href="./login.html"  id="logout-button" onclick="logout()">Logout</a>
    </main>

    <a id="big-search-button" class="big-search-button" href="../templates/specialist/search-food-database.html">Search Food Database</a>

   


</body>

</html>