<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page - NutriLog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img class="navbar__icon" src="../static/images/icon.png" width="30" height="30" alt="logo">
                <span class="navbar__item">NutriLog</span>
            </a>
            <a class="nav-link" href="login.html">Login</a>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="./user.html">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./user/user-log.html">Food Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./user/user-food-save.html">Saved Foods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./user/contact-nutritionist.html">Contact
                        Nutritionist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./user/user-settings.html">Settings</a>
                </li>
            </ul>
        </div>
    </nav>


    <main class="container py-4">
        <section class="row">
            <h1 class="col">Welcome to Your NutriLog User Page</h1>
            <p class="fs-4"><strong>Name:</strong> User</p>
            <p class="fs-4"><strong>Email:</strong> user@example.com</p>
        </section>

        <h2 class="fs-2">Today</h2>
        <div class="card-group">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h3 class="card-title">Calories</h3>
                    <p class="card-text">Goal: 1,600</p>
                    <p class="card-title">Total: 1,200</p>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h3 class="card-title">Carbs</h3>
                    <p class="card-text">Goal: 120</p>
                    <p class="card-title">Total: 200</p>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h3 class="card-title">Protein</h3>
                    <p class="card-text">Goal: 60</p>
                    <p class="card-title">Total: 100</p>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h3 class="card-title">Fat</h3>
                    <p class="card-text">Goal: 53</p>
                    <p class="card-title">Total: 44</p>
                </div>
            </div>
        </div>

        <div class="py-4">
            <a class="btn btn-primary" href="../templates/user/user-food-search.html">
                Add Food
            </a>
        </div>


    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>