<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Saved Recipes - NutriLog</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/specialist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>

    <nav id="navbar">
        <a class="nav-item" href="../index.html">
            <img id="icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span>NutriLog</span>
        </a>
        <a id="logout-button" class="nav-item" href="../index.html">Logout</a>
    </nav>
   
    <section class="services-navbar" id="services-bar">
        <a href="../user/Request-specialist-assistance.html">Request Specialist Assistance</a>
        <a href="../user/Manage-personal-settings.html">Manage Personal Settings</a>
        <a href="../user/saved-foods-user.html">Saved Foods</a>
        <a href="../user/saved-recipes-user.html">Saved Recipes</a>
    </section>

    <main id="main-body">

        <h1> Saved Recipes List</h1>

        <section>
            <table id = "user-table">
                <tr>
                    <th>Low Calorie Dishes </th>
                    <th>Low Carbohydrates Dishes</th>
                    <th>Low Cholesterol Dishes</th>
                    <th>Low Sugar &#x2f Sugar Free Beverage Recipes</th>
                </tr>
                <tr>
                    <th>recipe 1 <br><br>
                        recipe 2 <br><br>
                        recipe 3 <br><br>
                        recipe 4 <br><br>
                        recipe 5 <br><br>
                    </th>
                    <th>
                        recipe 1 <br><br>
                        recipe 2 <br><br>
                        recipe 3 <br><br>
                        recipe 4 <br><br>
                        recipe 5 <br><br>
                    </th>
                    <th>
                        recipe 1 <br><br>
                        recipe 2 <br><br>
                        recipe 3 <br><br>
                        recipe 4 <br><br>
                        recipe 5 <br><br>
                    </th>
                    <th>Beverage recipe 1 <br><br>
                        Beverage recipe 2 <br><br>
                        Beverage recipe 3 <br><br>
                        Beverage recipe 4 <br><br>
                        Beverage recipe 5 <br><br>
                    </th>
                </tr>

            </table>
        </section>
            

    </main>
</body>

</html>