<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Saved Foods - NutriLog</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar">
        <a class="navbar__item" href="../index.html">
            <img class="navbar__icon" src="../../static/images/icon.png" alt="Fork, knife, and plate icon">
            <span class="navbar__item">NutriLog</span>
        </a>
        <a class="navbar__item" href="login.html">Login</a>
    </nav>

    <nav class="services-navbar" id="services-bar">
        <a class="services-navbar__item" href="../user.html">Homepage</a>
        <a class="services-navbar__item" href="../user/contact-nutritionist.html">Contact Nutritionist</a>
        <a class="services-navbar__item" href="../user/user-food-save.html">Your Foods</a>
        <a class="services-navbar__item" href="../user/user-settings.html">Settings</a>
    </nav>

    <main>
        <section class="card-container card-container--center card-container--space--extra">
            <div class="card card--large card--center">
                <table class="table--border--none">
                    <tr>
                        <th>Name</th>
                        <th>Add to Log</th>

                    </tr>
                    <tr>
                        <td>Cheddar Cheese</td>
                        <td>
                            <button class="button button--center button--blue button--small">+</button>
                        </td>

                    </tr>
                    <tr>
                        <td>Apple, Fuji</td>
                        <td>
                            <button class="button button--center button--blue button--small">+</button>
                        </td>

                    </tr>
                    <tr>
                        <td>Broccoli</td>
                        <td>
                            <button class="button button--center button--blue button--small">+</button>
                        </td>

                    </tr>
                </table>
            </div>
        </section>

    </main>
</body>

</html>